__pycache__/
.coverage
.pi/
*.pyc
build/
dist/
Notes.txt
openspec/changes/*
plantuml/
pyecobee_db*
Pyecobee.code-workspace
pyecobee.egg-info
tests/__init__.py
tests/*_response.txt
tests/pyecobee_db*
tests/pyecobee_log_*.txt*
TODO
!openspec/changes/archive/
!openspec/changes/archive/**
